.Trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
  color: #1890ff;
  }
}

.Layout {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.Content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
  h1 {
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5em;
  }
}


